<div class="tables">

  <h2>ELO Rank</h2>
  <table class="table">
    <tbody>
      <tr *ngFor="let rank of stats.ranks | orderBy: ['elo']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ rank.playerName }}</td>
        <td>{{ rank.elo }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Wins</h2>
  <table class="table">
    <tbody>
      <tr *ngFor="let stat of stats.wins | orderBy: ['value']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ stat.playerName }}</td>
        <td>{{ stat.value }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Win %</h2>
  <table class="table">
     <tbody>
      <tr *ngFor="let stat of stats.winPerc | orderBy: ['value']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ stat.playerName }}</td>
        <td>{{ stat.value | number: ".1" }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Sweeps</h2>
  <table class="table">
    <tbody>
      <tr *ngFor="let stat of stats.sweeps | orderBy: ['value']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ stat.playerName }}</td>
        <td>{{ stat.value }}</td>
      </tr>
    </tbody>
  </table>


  <h2>Sweeps against</h2>
  <table class="table">
    <tbody>
      <tr *ngFor="let stat of stats.sweepsAgainst | orderBy: ['value']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ stat.playerName }}</td>
        <td>{{ stat.value }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Comebacks</h2>
  <table class="table">
     <tbody>
      <tr *ngFor="let stat of stats.comebacks | orderBy: ['value']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ stat.playerName }}</td>
        <td>{{ stat.value }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Comebacks against</h2>
  <table class="table">
     <tbody>
      <tr *ngFor="let stat of stats.comebacksAgainst | orderBy: ['value']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ stat.playerName }}</td>
        <td>{{ stat.value }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Hottest -win streak</h2>
  <table class="table">
    <tbody>
      <tr *ngFor="let stat of stats.winStreak | orderBy: ['value']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ stat.playerName }}</td>
        <td>{{ stat.value }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Iceman - clutch sets won</h2>
  <table class="table">
    <tbody>
      <tr *ngFor="let stat of stats.clutchSets | orderBy: ['perc']; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ stat.playerName }}</td>
        <td>{{ stat.perc + "% for " + stat.sets + " played"}}</td>
      </tr>
    </tbody>
  </table>

</div>
